<!DOCTYPE html>
<html lang="en">
<head>
<title>Crowdsource</title>
<link href='{{basepath + "static/css/root.css"}}' rel="stylesheet">
<link href='{{basepath + "static/css/index.css"}}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{{basepath + "static/css/fonts.css"}}'>
<link rel="shortcut icon" type="image/png" href='{{basepath + "static/img/cs_cyan.png" }}'/>
{% block header %}
{% endblock %}
</head>

<body>

<body>
    {% block main %}
    {% endblock %}
</body>

{% block script %}
{% endblock %}
</html>