<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript" src='{{basepath + "static/js/jquery-3.2.1.min.js"}}'></script> 
<script type="text/javascript" src='{{basepath + "static/js/jquery.tablesorter.min.js"}}'></script>
<script type="text/javascript" src='{{basepath + "static/js/jquery.tablesorter.widgets.js"}}'></script>
<link rel="shortcut icon" type="image/png" href='{{basepath + "static/img/cs_cyan.png" }}'/>
<link rel="shortcut icon" type="image/png" href='{{basepath + "static/img/cs_cyan.png" }}'/>

<link rel="stylesheet" type="text/css" href='{{basepath + "static/css/fonts.css"}}'>

<link href='{{basepath + "static/css/root.css"}}' rel="stylesheet">
<link href='{{basepath + "static/css/base.css"}}' rel="stylesheet">
<link href='{{basepath + "static/css/theme.black-ice.css"}}' rel="stylesheet">
<title>{{ title }}</title>

{% block header %}
{% endblock %}

</head>
<body>
    <div class='header'>
        <a href='{{basepath}}'><img class='header' src='{{ basepath + "static/img/cs_cyan.png"}}'></a>

        <div class="sections">
        {% if title == "Competitions" %}
            <a class="active" href='{{basepath + "competitions"}}'><h2>Competitions</h2></a>
            <a href='{{basepath + "leaderboard"}}'><h4>Leaderboard</h4></a>
        {% elif title == "Leaderboard" %}
            <a href='{{basepath + "competitions"}}'><h4>Competitions</h4></a>
            <a class="active" href='{{basepath + "leaderboard"}}'><h2>Leaderboard</h2></a>
        {% else %}
            <a href='{{basepath + "competitions"}}'><h4>Competitions</h4></a>
            <a href='{{basepath + "leaderboard"}}'><h4>Leaderboard</h4></a>
        {% endif %}
        </div>

        {% if current_user %}
        <a href='{{ basepath + "submissions?client_id=" + current_user}}'><h4>id:{{current_user}}</h4></a>
        <a href='{{ basepath + "logout"}}'><h4>logout</h4></a>
        {% endif %}
    </div>
    {% block main %}
    {% endblock %}
</body>

{% block script %}
{% endblock %}
</html>