{% extends "base.html" %}

{% block header %}
<link href='{{basepath + "static/css/competitions.css"}}' rel="stylesheet">
{% endblock %}

{% block main %}
<table id="competitions" class="tablesorter-blackice">
    <thead>
        <th>Competition ID</th>
        <th>Competition Type</th>
        <th>Metric</th>
        <th>Dataset</th>
        <th>Competition End</th>
        <th>Active</th>
    </thead>
    <tbody id="competitions_body"></tbody>
</table>
{% endblock %}

{% block script %}
<script>
$(function(){
    $("#competitions").tablesorter({sortList:[[2,0], [4,0]]});
})

function ValidURL(str) {
    // TODO
    if (str.substring(0,4) == 'http'){
        return true;
    }
    return false;
}

function fetch() {
    console.log('fetching data...');
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{basepath}}api/competition' + window.location.search, true);
    xhr.onload = function (e) {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
            var res = JSON.parse(xhr.responseText);
            var body = document.getElementById('competitions_body');

            while (body.hasChildNodes()) {
                body.removeChild(body.lastChild);
            }

            for(var i = 0; i<res.length; i++){
                row = document.createElement('tr');
                c1 = document.createElement('td');
                c2 = document.createElement('td');
                c3 = document.createElement('td');
                c4 = document.createElement('td');
                c5 = document.createElement('td');
                c6 = document.createElement('td');

                c1.innerHTML = res[i]['id'];
                c2.innerHTML = res[i]['type'];
                c3.innerHTML = res[i]['metric'];

                a = document.createElement('a');
                a.download  = res[i]['id'] + '.json';
                a.innerHTML = 'download';
                // a.style.color = '';

                if (ValidURL(res[i]['dataset'])){
                    a.href = res[i]['dataset'];
                } else {
                    a.href = 'data:text/json,' + res[i]['dataset'];
                }

                c4.appendChild(a); 

                c5.innerHTML = res[i]['expiration'];
                c6.innerHTML = res[i]['active'];
                if(c6.innerHTML === 'true'){
                    c6.style.color = 'var(--light)';
                }
                else{
                    c6.style.color = 'var(--mag)';
                }

                row.appendChild(c1);
                row.appendChild(c2);
                row.appendChild(c3);
                row.appendChild(c4);
                row.appendChild(c5);
                row.appendChild(c6);
                body.appendChild(row);
            }
            $("#competitions").trigger("update", [ true, function(){console.log('table updated');}]);

        } else {
          console.error(xhr.statusText);
        }
      }
    };
    xhr.onerror = function (e) {
      console.error(xhr.statusText);
    };
    xhr.send(null);
};
fetch();
setInterval(function(){fetch()}.bind(this), 2000);
</script>
{% endblock %}