<!DOCTYPE html>
<html lang="en">
<head>
<title>Crowdsource</title>
<script>
    window.CONNECTION_CONFIG={basepath: '{{basepath}}', wspath: '{{wspath}}'};
</script>

<script type="text/javascript" src='{{basepath + "static/js/bundle.js"}}'></script>
<link href='{{basepath + "static/css/root.css"}}' rel="stylesheet">
<link href='{{basepath + "static/css/index.css"}}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{{basepath + "static/css/fonts.css"}}'>
<link rel="shortcut icon" type="image/png" href='{{basepath + "static/img/cs_cyan.png" }}'/>
<link rel="shortcut icon" type="image/png" href='{{basepath + "static/img/cs_cyan.png" }}'/>
</head>
<body>
</body>
</html>