<!DOCTYPE html>
<html lang="en">
<head>
<title>Crowdsource</title>
<link href='{{basepath + "static/css/root.css"}}' rel="stylesheet">
<link href='{{basepath + "static/css/index.css"}}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{{basepath + "static/css/fonts.css"}}'>
<link rel="shortcut icon" type="image/png" href='{{basepath + "static/img/cs_cyan.png" }}'/>
<link rel="shortcut icon" type="image/png" href='{{basepath + "static/img/cs_cyan.png" }}'/>

</head>
<body>
    <div class="main">
        <a href='{{ basepath + "home" }}'><img class="main" src='{{basepath + "static/img/logo_cyan.png"}}'></a>
        <div class="subs">
            <a href='{{ basepath + "competitions" }}'>
                <p>ACTIVE</p>
            </a>
            <a href='{{ basepath + "leaderboard" }}'>
                <p>LEADERS</p>
            </a>
        </div>
    </div>
</body>
</html>