{% extends "base.html" %}
{% block header %}
<link href='{{basepath + "static/css/leaderboard.css"}}' rel="stylesheet">
{% endblock %}


{% block main %}
    <table id="leaderboard" class="tablesorter-blackice">
        <thead>
            <th>Submission ID</th>
            <th>Competition ID</th>
            <th>Competition Type</th>
            <th>Client ID</th>
            <th>Score</th>
            <th>Metric</th>
            <th>Submission Time</th>
            <th>Competition End</th>
            <th>Active</th>
        </thead>
        <tbody id="leaderboard_body"></tbody>
    </table>
{% endblock %}


{% block script %}
<script>
$(function(){
    $("#leaderboard").tablesorter({sortList:[[2,0], [4,0]]});
})
function fetch() {
    console.log('fetching data...');
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{basepath}}api/leaderboard' + window.location.search, true);
    xhr.onload = function (e) {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
            var res = JSON.parse(xhr.responseText);
            var body = document.getElementById('leaderboard_body');

            while (body.hasChildNodes()) {
                body.removeChild(body.lastChild);
            }

            for(var i = 0; i<res.length; i++){
                row = document.createElement('tr');
                c1 = document.createElement('td');
                c2 = document.createElement('td');
                c3 = document.createElement('td');
                c4 = document.createElement('td');
                c5 = document.createElement('td');
                c6 = document.createElement('td');
                c7 = document.createElement('td');
                c8 = document.createElement('td');
                c9 = document.createElement('td');

                c1.innerHTML = res[i]['id'];
                c2.innerHTML = res[i]['competitionId'];
                c3.innerHTML = res[i]['type'];
                c4.innerHTML = res[i]['clientId'];
                c5.innerHTML = res[i]['score'];
                c6.innerHTML = res[i]['metric'];
                c7.innerHTML = res[i]['timestamp'];
                c8.innerHTML = res[i]['expiration'];
                c9.innerHTML = res[i]['active'];

                if(c9.innerHTML === 'true'){
                    c9.style.color = 'var(--light)';
                }
                else{
                    c9.style.color = 'var(--mag)';
                }

                row.appendChild(c1);
                row.appendChild(c2);
                row.appendChild(c3);
                row.appendChild(c4);
                row.appendChild(c5);
                row.appendChild(c6);
                row.appendChild(c7);
                row.appendChild(c8);
                row.appendChild(c9);
                body.appendChild(row);
            }
            $("#leaderboard").trigger("update", [ true, function(){console.log('table updated');}]);

        } else {
          console.error(xhr.statusText);
        }
      }
    };
    xhr.onerror = function (e) {
      console.error(xhr.statusText);
    };
    xhr.send(null);
};
fetch();
setInterval(function(){fetch()}.bind(this), 2000);
</script>
{% endblock %}
