html{
    background-color: black;
    font-family: "Roboto";
}

body {
    height: 100vh;
    margin: 0px;
    padding:5px;
    display: flex;
    flex-direction: column;

    background: linear-gradient(0deg, var(--dark), #000, var(--dark));
    background-size: 300% 300%;
    -webkit-animation: Gradient 30s ease infinite;
    -moz-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

@keyframes Gradient {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2 {
    color: var(--clight);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 2px;
}

h4 {
    color: var(--mag);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 2px;
}

div.header{
    display: flex;
    flex-direction: row;
    margin-bottom:5px;
}

div.header > * {
    padding: 5px;
    display:flex;
    align-items: center;
}

div.header a h2,
div.header a h4 {
    text-align: center;
}

div.header h4 {
    flex:0;
    text-align: right;
    margin:0;
}

div.header a {
    text-align: right;
    flex:0;
}

div.header div.sections {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.header div.sections a {
    margin: 5px;
}

div.header div.sections a h4 {
    color:grey;
}


div.header img.header {
    max-width:50px;
}

div.tablesorter-header-inner {
    font-size: 10px;
}