p {
    color:var(--light);
}

p.logout {
    width:100%;
    text-align:center;
}

div.login {
    height: 50%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin:auto;
}

div.login form {
    display: flex;
    flex-direction: column;
}

div.login form div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.login form div input {
    width: 49%;
    margin:auto;
}

div.login p{
    text-align: center;
}
